<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/partystyle.css">
    <link rel="stylesheet" href="./css/game.css">
    <title>Fruit Hunter</title>
    <style>
        .container{
            display: none;
        }
        .game-name{
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
    <div class="fruit-hunter-anime"></div>
    <div class="main-div">
        <div class="game-name"><span>Fruit</span> Hunter</div>
        <div class="party-page">
            <div class="action-buttons">
                <button onclick="createPartyPage()">
                    Create Party
                </button>
                <button  onclick="joinPartyPage()">
                    Join Party
                </button>
            </div>
        </div>
        <div class="party-codes">
            <div class="create-party-code">
                <div id="code">28705</div>
                <p>Share this code with your friend, the game will automatically begin once your friend joins the party</p>
                <div class="code"></div>
            </div>
            <div class="join-party-code">
                <p>Enter the code that you have got from your friend.</p>
                <input type="number" name="" id="roomcode" placeholder="Enter code" maxlength="3" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                <button id="join-btn" onclick="joinRoom()">Join</button>
                <p id="party-not-found-text"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="game-name"><span>Fruit</span> Hunter</div>
        <div class="time">
            <p>Time: </p>
            <div id="time">60</div>
        </div>
            <div class="scores">
            <div class="your-score">
                <p>Your score</p>
                <div id="score">0</div>
            </div>
            <div class="oppo-score">
                <p>Rival's score</p>
                <div id="oppo-score">0</div>
            </div>
        </div>
        <div class="game-area">
            
        </div>
        <div class="count-down"></div>
    </div>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="./js/party.js"></script>
</body>
</html>