@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background: url(../assets/img/junglebg.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
}
.container .game-name{
    top: 1%;
}
.scores{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
}
.scores .your-score, .scores .oppo-score{
    background: #B2F73A;
    border: 5px solid rgb(134, 45, 45); 
    margin: .5rem;
}

.scores .your-score p, .scores .oppo-score p{
    color: rgb(255, 226, 224);
    font-size: 2rem;
    /* font-weight: 200; */
    background-color: rgb(196, 34, 13);
    text-align: center;
    padding: 0 1rem;
    letter-spacing: 1px;
    font-family: 'Lilita One';
}

.scores .your-score #score, .scores .oppo-score #oppo-score{
    color: rgb(14, 83, 20);
    font-size: 2.7rem;
    text-align: center;
    font-weight: 700;
}

.time{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
    background: rgb(209, 240, 36);
    border: 5px solid rgb(134, 45, 45);
}

.time p{
    color: rgb(255, 226, 224);
    font-size: 2rem;
    /* font-weight: 700; */
    background-color: rgb(196, 35, 13);
    text-align: center;
    padding: 0 1rem;
    letter-spacing: 1px;
    font-family: 'Lilita One';
}

.time #time{
    color: rgb(14, 83, 20);
    font-size: 2.7rem;
    text-align: center;
    font-weight: 700;
}

.game-name{
    position: absolute;
    color: green;
    font-size:4.2rem;
    font-weight: 700;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 5px;
    width: 100%;
    top: 0%;
    left: 35%;
}
.game-name span{
    color: #ff4800;
}
.game-area{
    margin-top: 20px;
    height: 550px;
    width: 650px;
    background: rgba(53, 19, 17, 0.781);
    padding: 1rem;
    position: relative;
    margin-top: 3.5rem;
    overflow: hidden;
}

#you{
    position: absolute;
    height: 90px;
    width: 60px;
    background: url(../assets/img/character-1.png);
    background-size: cover;
}

#you.frozen{
    background-image:linear-gradient(rgba(76, 160, 202, 0.5),rgba(0, 170, 255, 0.623)),linear-gradient(rgba(170, 86, 170, 0.493),rgba(105, 7, 105, 0.521)), url('../assets/img/character-1.png');
    border-radius: 1rem;
}

#opponent.frozen{
    background-image:linear-gradient(rgba(76, 160, 202, 0.5),rgba(0, 170, 255, 0.623)),linear-gradient(rgba(170, 86, 170, 0.493),rgba(105, 7, 105, 0.521)), url('../assets/img/character-2.png');
    border-radius: 1rem;
}

#opponent{
    position: absolute;
    height:90px;
    width: 60px;
    background: url(../assets/img/character-2.png);
    background-size: cover;
    right: 0%;
}

.count-down{
    height: 8rem;
    width: 100vw;
    background: rgba(104, 17, 13, 0.781);
    color: white;
    font-weight: 700;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.count-down::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: countdown 4s linear;
}

@keyframes countdown{
    0%{content: '3';}
    25%{content: '2';}
    50%{content: '1';}
    75%{content: 'Go!';}
}

.fruit{
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 3;
}

.fruit.Apple{
    background: url(../assets/img/apple.png);
    background-size: cover;
}

.fruit.Banana{
    background: url(../assets/img/banana.png);
    background-size: cover;
}

.fruit.Orange{
    background: url(../assets/img/orange.png);
    background-size: cover;
}

.bomb{
    height: 50px;
    width: 50px;
    position: absolute;
    background: url('../assets/img/bomb.png');
    background-size: cover;
    z-index: 3;
}

.power-up{
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 3;
    animation: powerup 1.2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.power-up.speed{
    background: url(../assets/img/speed.png);
    margin: auto;
    background-size: cover;
    background-position: center;
}

.power-up.snowflake{
    margin: auto;
    background: url(../assets/img/snowflake.png);
    background-size: cover;
    background-position: center;
}

.power-up.jumbo{
    margin: auto;
    background: url(../assets/img/jumbo.png);
    background-size: 100% 100%;
    background-position: center;
}

@keyframes powerup{
    0%{
        width:87px;
    height:87px;    }
    50%{width:70px;
        height:70px;}
    100%{
        width:87px;
    height:87px;    }
}