@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bakbak+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: url(../img/junglebg.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.main-div{
    height: 75vh;
    width: 730px;
    background: rgba(42, 53, 36, 0.918);
    padding: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    border-radius: 16px;
}

.game-name{
    color: green;
    font-size:5.2rem;
    font-weight: 700;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 5px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: -10%;
}

.game-name span{
    color: rgb(255, 72, 0);
}

.main-div .action-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.main-div .action-buttons button{
    height: 6rem;
    width: 17rem;
    border-radius: 1rem;
    border: none;
    background: linear-gradient(to right,rgba(247, 55, 22, 0.856),rgb(199, 87, 43),rgb(223, 44, 20));
    color: white;
    font-size: 2rem;
    font-family: 'Alfa Slab One';
    font-weight: bolder;
    position: relative;
    color: rgb(33, 247, 229);
    -webkit-text-stroke: .7px rgb(62, 107, 158);
    padding: .2rem 1.6rem;
    letter-spacing: 3.3px;
    cursor: pointer;
}
.main-div .action-buttons button img{
    position: absolute;
    height: 7.5rem;
    width: 7.5rem;
    bottom: -2.7rem;
    right: -2.4rem;
} 



.main-div .action-buttons button:last-child{
    margin-top: 2rem;
    background: linear-gradient(to right,rgba(23, 102, 25, 0.89),rgba(16, 148, 22, 0.89),rgba(8, 114, 11, 0.89));
}

.main-div .action-buttons button:last-child img{
    height: 5rem;
    width: 5rem;
    bottom: -1.7rem;
    right: -1.6rem;
}

.fruit-hunter-anime{
    height: 360px;
    width: 480px;
    background: url('../img/fruithunteranime.gif');
    z-index: 2;
    position: absolute;
    background-repeat: no-repeat;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}